$color: #262828;

body {
  color: $color;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #4C4660;
  background-image: linear-gradient(to right, #4C4660 , #E6BFB8);
  padding: 10px;
}
.Appcontainer {
  width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
  .Appcontainer {
    max-width: 1440px;
  }
}

// @media (min-width: 992px) {
//   .Appcontainer {
//     max-width: 960px;
//   }
// }
// @media (min-width: 768px) {
//   .Appcontainer {
//     max-width: 720px;
//   }
// }